<div class="grey-background">

    <h1 class="display-4">Hey There!</h1>
    


    <p>
        Do you have a question, feedback, or just want to say hello? We want to  hear from you!
        Whether you're an artisan looking to join our growing community,or just a customer with a query about an order
        our dedicated team is here to assist you.
    </p>
    <p style="font-size: 25px;">Contact Information:</p>
        Call Us:  081 622 3555
        <br />
        Email Us:  khumaloCrafts@gmail.com
        <br />

    <img src="~/images/contact/contact_us.jpg" class="full-width" />
    </p>
  
    <div class="text-center">
     <p>We love to hear your feedback!</p>
   </div>

    
</div>
