<div class="text-center grey-background">

    <h1 class="display-4">Khumalo Crafts</h1>
    <br>


    <p>Where a world of art blends into one.</p>
    <div class="image-container">
        <img src="~/images/cover/untitled design(2).jpg"  class="full-width" />
        
    </div>
</div>
