<div class="grey-background">

    <h1 class="display-4">The Art and their Home.!</h1>



    <p>
        Welcome to the "My Work Page" of KhumaloCraft Emporium, this is where our story, and hopefully yours, begins. 
        Step into an immersive world of handcrafted treasures. Come and explore the wonderful artisans and their craftsmanship. 
        This is what defines our platform: sharing art and showcasing a diverse selection from artisans around the world.
        <br />
        <br />
        As you explore our gallery, you will stumble upon a diverse range of craftwork where every piece of art tells a story.
        Where every piece of art shows the culture and influences each artisan has had. From woven textiles to ceramics, our 
        collection has a piece for everyone.
        <br />
        <br />
        <img src="~/images/my_work/my work 1.jpeg" class="full-width" />
        “I’m a freak of technical control.”
        <br />
        <br />
        This wonderfully wacky piece in our collection belongs to Ai Weiwei, who became a globally known political activist. 
        For this specific piece, he pulls together his knowledge of Japanese and Greek pottery ornamentation. He uses traditional 
        methods and patterns to create wonderfully contemporary pieces. These two pieces can be commissioned for R15,000 per item.
        <br />
        <br />
        More of a painting person than ceramics, or want to know more about the artist instead of the artwork? Well, here at Khumalo
        Craft Emporium, you will find detailed information about every piece. This ensures that everyone can have just the right
        amount of information to keep shopping.
        <br />
        <br />
        <img src="~/images/my_work/my wwork 2.jpg"  class="full-width" />
       "In the grass"
        <br />
        <br />
        This is Adriana Meunié. She spent just a few days in Ibiza for the contemporary art fair and gained a multitude of inspiration
        from her visit. Her highlight piece above stole the show and can fetch a price of R23,000. Meunié blurs the lines between
        art, design, textiles, and cultures. She blends elements from past, present, and future. To create her art, she uses 
        materials such as wool and wood.
        <br />
        <br />
        <img src="~/images/my_work/use this for third artisit.jpg"  class="full-width" />
      "The octopus eats his own leg"
        <br />
        <br />
        Now, meet Takashi Murakami, our local Japanese artist. He aims to create in-vogue hip-hop pieces. This artist is famous
        for multiple reasons, creating the cover pages of famous rappers as one of the reasons. But before his career took off,
        he specialized in abstract versions of anime jokes. Above, his piece called “The Octopus Eats His Own Leg” can be
        commissioned for R95,000.
        <br />
        <br />
        At Khumalo Craft Emporium, we believe there is value in handmade craft artisanal goods. Art should extend far beyond 
        aesthetic appeal. With every purchase, we believe there is a story that matters behind it. Whether you are celebrating art,
        culture, or communities, we believe there is a piece for everyone.
        <br />
        <br />
        Join us on our journey, as we showcase art and grow our community. Welcome to KhumaloCraft Emporium, where craftsmanship
        meets culture, and every piece tells a story.



    </p>

    

</div>
